body {
    text-align: center;
    background-size: cover;
    background-color: green;
}

#pile {
    position: relative;
    justify-content: center;
    width: 50em;
    height: 100em;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
}